{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Signup | Ambuk</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h2 class="fade-in">Admin Signup</h2>
        <form method="post" action="{% url 'custom_admin:admin_signup' %}">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="text" name="email" placeholder="E-mail" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Sign Up</button>
        </form>
        <p>Already have an account? <a href="{% url 'custom_admin:admin_login' %}">Login</a></p>
        <a href="{% url 'home' %}" class="back-link">← Back to Home</a>
    </div>
</body>
</html>
